<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--全局配置-->
    <settings>
        <!--使用jdbc的getGeneratedKeys获取数据库自增主键值-->
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 二级缓存开启 -->
        <setting name="cacheEnabled" value = "true" />
    </settings>
    <typeAliases>
        <typeAlias alias="iotUser" type="ac.cn.saya.mqtt.middle.entity.IotUserEntity"/>
        <typeAlias alias="iotIdentify" type="ac.cn.saya.mqtt.middle.entity.IotIdentifyEntity"/>
        <typeAlias alias="iotClient" type="ac.cn.saya.mqtt.middle.entity.IotClientEntity"/>
        <typeAlias alias="iotCollection" type="ac.cn.saya.mqtt.middle.entity.IotCollectionEntity"/>
        <typeAlias alias="iotHistoryExecute" type="ac.cn.saya.mqtt.middle.entity.IotHistoryExecuteEntity"/>
        <typeAlias alias="iotWarningRules" type="ac.cn.saya.mqtt.middle.entity.IotWarningRulesEntity"/>
        <typeAlias alias="iotWarningResult" type="ac.cn.saya.mqtt.middle.entity.IotWarningResultEntity"/>
        <typeAlias alias="iotAppointment" type="ac.cn.saya.mqtt.middle.entity.IotAppointmentEntity"/>
        <typeAlias alias="iotProduct" type="ac.cn.saya.mqtt.middle.entity.IotProductEntity"/>
        <typeAlias alias="iotAbility" type="ac.cn.saya.mqtt.middle.entity.IotAbilityEntity"/>
        <typeAlias alias="iotStandardUnit" type="ac.cn.saya.mqtt.middle.entity.IotStandardUnitEntity"/>
    </typeAliases>
</configuration>