<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac.cn.saya.mqtt.middle.repository.IotAbilityDAO">

    <resultMap type="iotAbility" id="IotAbilityMap">
        <result property="id" column="id"/>
        <result property="productId" column="productId"/>
        <result property="property" column="property"/>
        <result property="name" column="propertyName"/>
        <result property="standardId" column="standardId"/>
        <result property="type" column="type"/>
        <result property="scope" column="scope"/>
        <result property="rwFlag" column="rwFlag"/>
        <association property="standardUnit" javaType="iotStandardUnit">
            <result property="id" column="standardId"/>
            <result property="name" column="name"/>
            <result property="symbol" column="symbol"/>
        </association>
    </resultMap>

    <!--根据产品id查看相关的属性-->
    <select id="queryAbilityByProductId" resultMap="IotAbilityMap">
        select
          a.`id`, a.`product_id` as productId, a.`property`,a.`name` as propertyName,a.`standard_id` as standardId,a.`type`,a.`scope`,a.`rw_flag` as rwFlag,
          b.`name`,b.`symbol`
        from iot_ability a left join iot_standard_unit b on a.`standard_id` = b.`id`  where a.`product_id` = #{productId}
    </select>

    <!--批量添加物模型属性信息-->
    <insert id="batchInsert" parameterType="list">
        insert into iot_ability(`product_id`, `property`,`name`, `standard_id`, `type`,`scope`,`rw_flag`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.productId}, #{item.property},#{item.name}, #{item.standardId}, #{item.type},#{item.scope},#{item.rwFlag})
        </foreach>
    </insert>


    <!--修改物模型属性信息-->
    <update id="update" parameterType="iotAbility">
        update iot_ability
        <set>
            <if test="property != null and property != ''">
                `property` = #{property},
            </if>
            <if test="standardId != null and standardId != ''">
                `standard_id` = #{standardId},
            </if>
            <if test="productId != null and productId != 0">
                `product_id` = #{productId},
            </if>
            <if test="type != null and type != 0">
                `type` = #{type},
            </if>
            <if test="scope != null and scope != ''">
                `scope` = #{scope},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="rwFlag != null and rwFlag != 0">
                `rw_flag` = #{rwFlag}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--删除物模型属性信息-->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from iot_ability where id = #{id}
    </delete>


</mapper>