<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac.cn.saya.mqtt.middle.repository.IotClientDAO">

    <resultMap type="iotClient" id="IotClientMap">
        <result property="id" column="id"/>
        <result property="gatewayId" column="gateway_id"/>
        <result property="serialNum" column="serial_num"/>
        <result property="name" column="name"/>
        <result property="lastLinkTime" column="last_link_time"/>
        <result property="enable" column="enable"/>
        <result property="remove" column="remove"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="productId" column="productId"/>
        <result property="productName" column="productName"/>
        <association property="gateway" javaType="IotGateway">
            <id property="id" column="gateway_id" />
            <result property="uuid" column="uuid"/>
            <result property="name" column="gatewayName"/>
            <result property="address" column="address"/>
            <result property="source" column="source"/>
        </association>
    </resultMap>

    <!--下拉列表显示Iot终端-->
    <select id="querySelectList" resultMap="IotClientMap">
        select
        a.`id`, a.`gateway_id`, a.`name`, a.`serial_num`, a.`last_link_time`, a.`enable`,a.`remove`, a.`create_time`, a.`update_time`,
        b.`uuid`,b.`name` as gatewayName,b.`address`,b.`source`
        from iot_client a left join iot_gateway b on b.id = a.gateway_id
        <where>
            <if test="source != null and source != ''">
                b.`source` = #{source}
            </if>
            <if test="keyWord != null and keyWord != ''">
                and (a.`name` like concat(#{keyWord},"%") or b.`name` like concat(#{keyWord},"%"))
            </if>
        </where>
    </select>

    <!--查询Iot终端-->
    <select id="query" resultMap="IotClientMap">
        select
          a.`id`, a.`gateway_id`, a.`name`, a.`serial_num`, a.`last_link_time`, a.`enable`,a.`remove`, a.`create_time`, a.`update_time`,
          b.`uuid`,b.`name` as gatewayName,b.`address`,b.`source`,
          c.id as productId,c.`name` as productName
        from iot_client a left join iot_gateway b on b.id = a.gateway_id
        left join iot_product_type c on c.id = a.product_id
        <where>
            <if test="id != null and id != 0">
                and a.`id` = #{id}
            </if>
            <if test="gatewayId != null and gatewayId != 0">
                and a.`gateway_id` = #{gatewayId}
            </if>
            <if test="name != null and name != ''">
                and a.`name` like concat(#{name},"%")
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.`last_link_time`,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
            <if test="enable != null and enable != 0">
                and a.`enable` = #{enable}
            </if>
            <if test="remove != null and remove != 0">
                and a.`remove` = #{remove}
            </if>
        </where>
        limit 1
    </select>

    <!--通过网关查询Iot终端-->
    <select id="queryClientByGatewayId" resultMap="IotClientMap">
        select
            a.`id`, a.`gateway_id`, a.`name`, a.`serial_num`, a.`last_link_time`, a.`enable`,a.`remove`, a.`create_time`, a.`update_time`,
            b.`uuid`,b.`name` as gatewayName,b.`address`,b.`source`,
            c.`id` as productId,c.`name` as productName
        from iot_client a left join iot_gateway b on b.id = a.gateway_id
        left join iot_product_type c on c.id = a.product_id
        where a.`gateway_id` = #{gatewayId}
    </select>

    <select id="queryClientByProductId" resultMap="IotClientMap">
        select
            a.`id`, a.`gateway_id`, a.`name`, a.`serial_num`, a.`last_link_time`, a.`enable`,a.`remove`, a.`create_time`, a.`update_time`,
            b.`uuid`,b.`name` as gatewayName,b.`address`,b.`source`,
            c.`id` as productId,c.`name` as productName
        from iot_client a left join iot_gateway b on b.id = a.gateway_id
        left join iot_product_type c on c.id = a.product_id
        where a.product_id = #{productId}
    </select>

    <!--分页查询Iot终端 -->
    <select id="queryPage" resultMap="IotClientMap">
        select
            a.`id`, a.`gateway_id`, a.`name`, a.`serial_num`, a.`last_link_time`, a.`enable`,a.`remove`, a.`create_time`, a.`update_time`,
            b.`uuid`,b.`name` as gatewayName,b.`address`,b.`source`,
            c.`id` as productId,c.`name` as productName
        from iot_client a left join iot_gateway b on b.id = a.gateway_id
        left join iot_product_type c on c.id = a.product_id
        <where>
            <if test="id != null and id != 0">
                and a.`id` = #{id}
            </if>
            <if test="gatewayId != null and gatewayId != 0">
                and a.`gateway_id` = #{gatewayId}
            </if>
            <if test="name != null and name != ''">
                and a.`name` like concat(#{name},"%")
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.`last_link_time`,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
            <if test="enable != null and enable != 0">
                and a.`enable` = #{enable}
            </if>
            <if test="remove != null and remove != 0">
                and a.`remove` = #{remove}
            </if>
        </where>
        order by a.`id` desc
        limit #{startLine},#{endLine}
    </select>

    <!--查询Iot终端数量-->
    <select id="queryCount" resultType="java.lang.Long">
        select count(*) from iot_client a
        <where>
            <if test="id != null and id != 0">
                and a.`id` = #{id}
            </if>
            <if test="gatewayId != null and gatewayId != 0">
                and a.`gateway_id` = #{gatewayId}
            </if>
            <if test="name != null and name != ''">
                and a.`name` like concat(#{name},"%")
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.`last_link_time`,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
            <if test="enable != null and enable != 0">
                and a.`enable` = #{enable}
            </if>
            <if test="remove != null and remove != 0">
                and a.`remove` = #{remove}
            </if>
        </where>
    </select>

    <!--新增Iot终端-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="iotClient">
        insert into iot_client(`gateway_id`, `product_id`,`serial_num`,`name`, `enable`, `create_time`)
        values (#{gatewayId},#{productId},#{serialNum}, #{name}, #{enable}, now())
    </insert>

    <!--修改Iot终端-->
    <update id="update">
        update iot_client
        <set>
            <if test="gatewayId != null and gatewayId != 0">
                `gateway_id` = #{gatewayId},
            </if>
            <if test="null != productId and '' != productId">
                `product_id` = #{productId}
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="serialNum != null and serialNum != 0">
                `serial_num` = #{serialNum},
            </if>
            <if test="lastLinkTime != null  and lastLinkTime != 0">
                `last_link_time` = #{lastLinkTime},
            </if>
            <if test="enable != null  and enable != 0">
                `enable` = #{enable},
            </if>
            <if test="remove != null and remove != 0">
                `remove` = #{remove},
            </if>
                `update_time` = now()
        </set>
        where id = #{id}
    </update>

    <!--通过GatewayId修改设备信息-->
    <update id="updateByGatewayId">
        update iot_client
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="null != productId and '' != productId">
                `product_id` = #{productId}
            </if>
            <if test="serialNum != null and serialNum != 0">
                `serial_num` = #{serialNum},
            </if>
            <if test="lastLinkTime != null  and lastLinkTime != 0">
                `last_link_time` = #{lastLinkTime},
            </if>
            <if test="enable != null  and enable != 0">
                `enable` = #{enable},
            </if>
            <if test="remove != null and remove != 0">
                `remove` = #{remove},
            </if>
            `update_time` = now()
        </set>
        where `gateway_id` = #{gatewayId}
    </update>

    <!--删除Iot终端(谨慎删除)-->
    <delete id="deleteById">
        delete from iot_client where id = #{id}
    </delete>

    <!--修改设备最后上线时间-->
    <update id="updateHeart">
        update iot_client set `last_link_time` = now() where id = #{id}
    </update>

    <select id="queryUsedSerialNum" resultType="iotClient">
        select `name`,`serial_num` as serialNum from iot_client where gateway_id = #{gatewayId} order by serial_num
    </select>

</mapper>