<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac.cn.saya.mqtt.middle.repository.IotGatewayTypeDAO">


    <!--查询设备类别-->
    <select id="query" resultType="iotGatewayType" parameterType="iotGatewayType">
        select
          `id`, `name`
        from iot_gateway_type
        where
        <if test = "id != null and id != ''">
            `id` = #{id}
        </if>
    </select>

    <!--查询所有设备类别-->
    <select id="queryAll" resultType="iotGatewayType">
        select
          `id`, `name`
        from iot_gateway_type
    </select>


    <!--新增设备类别-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into iot_gateway_type(`id`,`name`) values (#{id},#{name})
    </insert>

    <!--修改设备类别-->
    <update id="update">
        update iot_gateway_type
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--删除设备类别-->
    <delete id="delete">
        delete from iot_gateway_type where id = #{id}
    </delete>

</mapper>