<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac.cn.saya.mqtt.middle.repository.IotProductTypeDAO">

    <resultMap type="iotProductType" id="IotProductTypeMap">
        <result property="id" column="id"/>
        <result property="name" column="client_id"/>
        <result property="status" column="units"/>
        <collection property="properties" javaType="java.util.ArrayList" ofType="iotAbility">
            <result property="id" column="abilityId"/>
            <result property="productId" column="productId"/>
            <result property="identifier" column="identifier"/>
            <result property="name" column="abilityName"/>
            <result property="type" column="type"/>
            <result property="scope" column="scope"/>
            <result property="rwFlag" column="rwFlag"/>
        </collection>
    </resultMap>

    <select id="queryList" parameterType="iotProductType" resultType="iotProductType">
        select a.`id`,a.`name`,a.`status`
        from iot_product_type a
        <where>
            <if test="null != id and 0 != id">
                a.`id` = #{id}
            </if>
            <if test="null != status and 0 != status">
                and a.`status` = #{status}
            </if>
            <if test="null != name and '' != name">
                and a.`name` like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="queryProductDetail" resultMap="IotProductTypeMap" parameterType="iotProductType">
        select a.`id`,a.`name`,a.`status`,
        b.`id` as abilityId,b.product_id as productId,b.identifier,
        b.`name` as abilityName,b.type,b.scope,b.rw_flag as rwFlag
        from iot_product_type a left join iot_ability b on a.id = b.product_id
        <where>
            <if test="null != id and 0 != id">
                a.`id` = #{id}
            </if>
            <if test="null != status and 0 != status">
                and a.`status` = #{status}
            </if>
            <if test="null != name and '' != name">
                and a.`name` like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <!--分页查询产品信息-->
    <select id="queryPage" resultType="iotProductType">
        select
            a.`id`, a.`name`, a.`status`
        from iot_product_type a
        <where>
            <if test="id != null and id != 0">
                a.`id` = #{id}
            </if>
            <if test="status != null and status != 0">
                and a.`status` = #{status}
            </if>
            <if test="name != null and name != ''">
                and a.`name` like concat(#{name},"%")
            </if>
        </where>
        order by a.`id` desc
        limit #{startLine},#{endLine}
    </select>

    <!--查询产品数量-->
    <select id="queryCount" resultType="java.lang.Long">
        select
            count(*)
        from iot_product_type a
        <where>
            <if test="id != null and id != 0">
                a.`id` = #{id}
            </if>
            <if test="status != null and status != 0">
                and a.`status` = #{status}
            </if>
            <if test="name != null and name != ''">
                and a.`name` like concat(#{name},"%")
            </if>
        </where>
    </select>

    <!--添加产品信息-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="iotProductType">
        insert into iot_product_type(`name`, `status`)
        values (#{name}, #{status})
    </insert>

    <!--修改产品信息-->
    <update id="update" parameterType="iotProductType">
        update iot_product_type
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="status != null and status != 0">
                `status` = #{status}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--删除产品信息-->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from iot_product_type where id = #{id}
    </delete>


</mapper>