<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ac.cn.saya.mqtt.middle.repository.IotWarningResultDAO">

    <resultMap type="iotWarningResult" id="IotWarningResultMap">
        <result property="id" column="id"/>
        <result property="topic" column="topic"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <association property="iotClient" javaType="iotClient">
            <result property="id" column="client_id"/>
            <result property="name" column="clientName"/>
            <result property="lastLinkTime" column="last_link_time"/>
            <association property="gateway" javaType="IotGateway">
                <id property="id" column="gateway_id" />
                <result property="name" column="gatewayName"/>
                <result property="address" column="address"/>
            </association>
        </association>
        <association property="iotRule" javaType="iotWarningRules">
            <id property="id" column="rule_id" />
            <result property="name" column="ruleName"/>
        </association>
    </resultMap>

    <!--查询Iot告警结果-->
    <select id="query" resultMap="IotWarningResultMap">
        select
          a.`id`, a.`client_id`,a.`rule_id`, a.`topic`, a.`content`, a.`create_time`,
          b.`gateway_id`,b.`name` as clientName,b.`last_link_time`,
          c.`name` as gatewayName,c.`address`,
          d.`name` as ruleName
        from iot_warning_result a left join iot_client b on a.`client_id` = b.`id` left join iot_gateway c on b.`gateway_id` = c.`id` left join iot_warning_rules d on a.rule_id = d.id
        <where>
            <if test="id != null and id != 0">
                a.`id` = #{id}
            </if>
            <if test="clientId != null and clientId != 0">
                and a.`client_id` = #{clientId}
            </if>
            <if test="topic != null and topic != ''">
                and topic like concat(#{topic},"%")
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.`create_time`,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
        limit 1
    </select>

    <!--分页查询Iot告警结果-->
    <select id="queryPage" resultMap="IotWarningResultMap">
        select
            a.`id`, a.`client_id`,a.`rule_id`, a.`topic`, a.`content`, a.`create_time`,
            b.`gateway_id`,b.`name` as clientName,b.`last_link_time`,
            c.`name` as gatewayName,c.`address`,
            d.`name` as ruleName
        from iot_warning_result a left join iot_client b on a.`client_id` = b.`id` left join iot_gateway c on b.`gateway_id` = c.`id` left join iot_warning_rules d on a.rule_id = d.id
        <where>
            <if test="id != null and id != 0">
                a.`id` = #{id}
            </if>
            <if test="clientId != null and clientId != 0">
                and a.`client_id` = #{clientId}
            </if>
            <if test="topic != null and topic != ''">
                and topic like concat(#{topic},"%")
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.`create_time`,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
        order by a.`id` desc
        limit #{startLine},#{endLine}
    </select>

    <!--查询Iot告警结果数量-->
    <select id="queryCount" resultType="java.lang.Long">
        select
            count(*)
        from iot_warning_result a
        <where>
            <if test="id != null and id != 0">
                a.`id` = #{id}
            </if>
            <if test="clientId != null and clientId != 0">
                and a.`client_id` = #{clientId}
            </if>
            <if test="topic != null and topic != ''">
                and topic like concat(#{topic},"%")
            </if>
            <if test="beginTime != null and beginTime != ''and endTime != null and endTime != ''">
                and date_format(a.`create_time`,'%Y-%m-%d') between date_format(#{beginTime},'%Y-%m-%d')  and date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>

    <!--新增Iot告警结果-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into iot_warning_result(`client_id`,`rule_id`, `topic`, `content`, `create_time`)
        values (#{clientId},#{ruleId} #{topic}, #{content},now())
    </insert>

    <!--批量Iot告警结果-->
    <insert id="batchInsert" parameterType="list">
        insert into iot_warning_result(`client_id`,`rule_id`, `topic`, `content`, `create_time`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.clientId},#{item.ruleId}, #{item.topic}, #{item.content},now())
        </foreach>
    </insert>

</mapper>